* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2C3E50;
    max-width: 100%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5em;
}

.short-info-text {
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
}

.navbar ul li {
    flex: 1 1 0;
    width: 100%;
    padding: 15PX;
}

.navbar a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
    text-wrap: nowrap;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: hsla(0, 0%, 45%, 0.5);
}

main {
    flex: 1;
}

footer {
    color: white;
    background-color: #2C3E50;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5em;
}

.about-me,
.portfolio {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 20px;
    background-color: hsla(195, 50%, 50%, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me h1,
.about-me p,
.portfolio h1,
.portfolio p {
    padding: 10px;
}

.project-card img {
    width: 100%;
    height: 50%;
}

.project-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
}

.project-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.container {
    padding: 2px 16px;
}

.buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

.buttons li {
    flex: 1 1 0;
    width: 100%;
    padding: 15PX;
}

.buttons a {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 15px;
    text-wrap: nowrap;
    font-weight: bolder;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.buttons a:hover {
    background-color: hsla(0, 0%, 45%, 0.5);
}

@media screen and (max-width:768px) {
    .navbar ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .navbar a {
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 15px;
        text-wrap: nowrap;
        border-radius: 15px;
        text-align: center;
    }

    .buttons {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}